body{
    background: #2B292E;
    font-family: Arial;
}

.header{
    background-color: #6F439C;
    color: white;
}
.header  h3{
    font-size: 2rem;
    font-weight: 700;
}

.header p{
    font-weight: 600;
}

.box{
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    position: relative;
}

.action{
    background-color: #353239;
    color: white;
}

#filter-box,#todo-input{
    width: 35%;
}

.content{
    background-color: #2B292E;
    color: white;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 13px 15px;
    cursor: pointer;
    background-color: #323035;
    transition: ease-in-out 0.1s;
}

.item:hover{
    background-color: #3d3b41;
}

.remove-btn{
    color: grey;
}
.remove-btn:hover{
    text-decoration: none;
    color: white;
}

#feedback{
    font-weight: 700;
}